main {
  .number {
    max-width: 270px;
    width: 100%;
    padding: 20px;
    margin: 50px 0;
    .numeral {
      margin-bottom: 20px;
      p {
        font-family: $font;
        @extend %text_size58;
        text-align: center;
        color: rgba(16, 181, 130, 1);
      }
    }
    .option {
      p {
        font-family: $font;
        @extend %text_size14;
        line-height: 16.8px;
        text-align: center;
      }
    }
  }
}
.description_mentor {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-family: $font;
    @extend %text_size58;
    text-align: left;
    color: rgba(53, 58, 90, 1);
    margin-bottom: 20px;
  }
  .paragraph {
    margin-bottom: 50px;
    p {
      font-family: $font;
      @extend %main_text;
      color: rgba(53, 58, 90, 1);
      margin-bottom: 15px;
    }
  }

  button {
    background-color: rgba(16, 181, 130, 1);
    @extend %btn;
    color: rgba(253, 253, 253, 1);
    @extend %text_size16;
    text-align: center;
  }
}
.container {
  @extend %flex;
}
.mentor {
  max-width: 570px;
  width: 100%;
  p {
    font-family: $font;
    @extend %text_size14;
    line-height: 18.2px;
    text-align: center;
  }
}
.mentor_block1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  img {
    margin-bottom: 10px;
  }
}
.mentor_block2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  img {
    margin-bottom: 10px;
  }
}
.mentor1 {
  max-width: 170px;
}
.container_comp {
  width: 100%;
  height: 602px;
  @extend %flex;
  background-color: rgba(16, 181, 130, 1);
}
.description_courses {
  max-width: 500px;
  width: 100%;
  h2 {
    font-family: $font;
    @extend %text_size58;
    line-height: 69.6px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    margin-bottom: 15px;
  }
  p {
    font-family: $font;
    @extend %main_text;
    color: rgba(253, 253, 253, 1);
    margin-bottom: 50px;
  }
  button {
    background-color: rgba(250, 159, 66, 1);
    @extend %btn;
    color: rgba(253, 253, 253, 1);
  }
}
.comp_block {
  padding-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  .comp {
    position: relative;
    z-index: 2;
  }
  .border_comp {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
  }
}
.container_ikon {
  max-width: 1170px;
  width: 100%;
  h2 {
    font-family: $font;
    @extend %text_size58;
    text-align: center;
    margin: 100px 0 50px 0;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    button {
      background-color: rgba(16, 181, 130, 1);
      border: none;
      width: 230px;
      height: 56px;
      border-radius: 0 20px 0 20px;
      color: rgba(253, 253, 253, 1);
      @extend %text_size16;
      text-align: center;
    }
  }

  margin: 0 auto;
  .ikon {
    @extend %flex;
    margin-bottom: 50px;
    .ikon_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      max-width: 270px;
      width: 100%;
      height: 226px;
      width: 270px;
      border-radius: 10px;
      opacity: 0px;
      box-shadow: 5px 5px 30px 0px rgba(101, 101, 101, 0.12);
      p {
        font-family: $font;
        @extend %main_text;
      }
    }
  }
}
.container_laptop {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-image: url("../images/main/laptop.png");
  max-width: 1440px;
  width: 100%;
  height: 578px;
  background-repeat: no-repeat;
  .laptop_box {
    max-width: 510px;
    width: 100%;
    margin-left: 50%;
    h2 {
      font-family: $font;
      @extend %text_size58;
      line-height: 69.6px;
      text-align: left;
      color: rgba(53, 58, 90, 1);

      margin-bottom: 15px;
    }
    p {
      font-family: $font;
      @extend %main_text;
      color: rgba(53, 58, 90, 1);
      margin-bottom: 50px;
    }
    button {
      background-color: rgba(250, 159, 66, 1);
      @extend %btn;
      color: rgba(253, 253, 253, 1);
    }
  }
}
